/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Override theme settings (see ../template/settings.scss)
// $backgroundColor: #222;
// Background generator
@mixin bodyBackground() {
	@include radial-gradient( rgba(28,30,32,1), rgba(85,90,95,1) );
}

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: Helvetica, sans-serif;
$headingFont: Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.4em;
$heading2Size: 1.5em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------